/* This is the css file for the data.html page file */

/* importing the fonts  */
@font-face {
    font-family: 'Bubble-font';
    src: url('/static/fonts/bubblebaz.ttf') format('truetype');
}

/* styling for wrapper and content divs */
html, body {
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 53, 52);
}

#content {
    max-width: 1300px;
    margin: auto;
    padding-top: 70px;
    height: 5200px;
}

/* header styling: */
#header-container {
    max-width: 1300px;
    height: 100px;
    background-color: #04102F;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#name-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#web-name {
    font-size: 70px;
    color: #DFD4E5;
    font-family: 'Bubble-font';
    text-shadow: 0 0 5px #d39af2, 0 0 5px #d39af2, 0 0 5px #d39af2, 0 0 7px #d39af2;
}

#info-sec{
    position: relative;
    max-width: 1300px;
    height: 380px;
    background-color: #274956;
    top: -45px;
    padding-bottom: 20px;
}

#intro-title {
    position: relative;
    color: #f1edf4;
    font-family: 'Bubble-font';
    font-size: 40px;
    padding-top: 30px;
    padding-left: 30px;
    letter-spacing: 1px;
}


#intro-desc {
    position: relative;
    color: #f1edf4;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    word-spacing: 2px;
}

/* styling for nav button section */

#button-sec {
    position: absolute;
    height: 140px;
    width: 220px;
    background-color: #04102F;
    margin-left: 60px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #d39af2;
}

#chart-butn {
    position: absolute;
    height: 20px;
    width: 60px;
    color: #f1edf4;
    background-color: #FEC14A;
    padding-left: 10px;
    margin-top: 50px;
    margin-left: 15px;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #EB8B3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#home-butn {
    position: absolute;
    height: 20px;
    width: 75px;
    padding-left: 30px;
    margin-left: 55px;
    margin-top: 95px;
    background-color: #FEC14A;
    color: #f1edf4;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #EB8B3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#kchart-butn {
    position: absolute;
    height: 20px;
    width: 80px;
    padding-left: 10px;
    margin-left: 115px;
    margin-top: 50px;
    background-color: #FEC14A;
    color: #f1edf4;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #EB8B3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#nav-header {
    color: #d39af2;
    position: absolute;
    font-family: 'Bubble-font';
    font-size: 30px;
    margin-left: 40px;
    margin-top: 8px;
    text-decoration: underline;
}

/* styling the search section */
#search-sec{
    position: absolute;
    width: 1300px;
    height: 1080px;
    background-color: #274956;
    margin-top: -140px;
    padding-bottom: -770px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#search-title{
    position: relative;
    color: #f1edf4;
    font-family: 'Bubble-font';
    font-size: 40px;
    padding-top: 30px;
    padding-left: 30px;
    letter-spacing: 1px;
}

/* styling the search inputs */
#search-input{
    position: absolute;
    border-style: solid;
    border-color: #DFD4E5;
    background-color: #04102F;
    font-size: 20px;
    color: #d39af2;
    margin-top: 10px;
    margin-left: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search-input::placeholder {
    color: #d39af2;
}

#results-len{
    position: absolute;
    width: 200px;
    border-style: solid;
    border-color: #DFD4E5;
    background-color: #04102F;
    font-size: 20px;
    color: #d39af2;
    margin-top: 10px;
    margin-left: 280px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#results-len::placeholder {
    color: #d39af2;
}

#search-button{
    position: absolute;
    height: 35px;
    width: 160px;
    margin-left: 520px;
    margin-top: 6px;
    background-color: #FEC14A;
    color: #f1edf4;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #EB8B3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* styling the info section */

#info-content{
    background-color: antiquewhite;
    position: absolute;
    border: 2px solid #04102F;
    line-height: 1.4;
    width: 640px;
    height: 380px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -480px;
    margin-left: 60px;
    z-index: 999;
}

#instr-title {
    padding-left: 100px;

}

#bttn-info{
    position: absolute;
    color: #FEC14A;
    font-size: 20px;
    border-radius: 50%;
    background-color: #04102F;
    margin-left: 250px;
    margin-top: -70px;
}

#q-instr1 {
    padding-right: 60px;
    padding-left: 70px;
}
#data-info{
    font-weight: bold;
    color: red;
    padding-left: 20px;
}

/* styling the message section */
#message-title{
    color: #d39af2;
    position: absolute;
    font-family: 'Bubble-font';
    font-size: 30px;
    margin-left: 40px;
    margin-top: 78px;
    text-decoration: underline;
}

#message-sec{
    position: absolute;
    width: 300px;
    height: 190px;
    background-color: #04102F;
    margin-left: 30px;
    margin-top: 120px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #d39af2;
}

#err-output{
    position: absolute;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 100px;
}
#message{
    position: absolute;
    color: #d39af2;
    margin-top: 70px;
    margin-left: 80px;
    font-size: 20px;
}

/* styling the table output section */

#data-title{
    color: #d39af2;
    position: absolute;
    font-family: 'Bubble-font';
    font-size: 30px;
    margin-left: 40px;
    margin-top: 350px;
    text-decoration: underline;
}
#table-sec{
    position: absolute;
    width: 800px;
    height: auto;
    overflow: auto;
    background-color: #04102F;
    margin-left: 30px;
    margin-top: 420px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #d39af2;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #d39af2;
  }
  
  th {
    background-color:#04102F;
    color:#FEC14A;
    font-weight: bold;
  }
  tr{
    background-color: #04102F;
    color: #d39af2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
    color: #d39af2;
  }
  
  tr:hover {
    background-color: #5FCFFF;
  }